@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Yekan";
  src: url("../public/fonts/IRANYekanMobileRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yekan-medium";
  src: url("../public/fonts/IRANYekanMobileMedium.woff2") format("woff2");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Yekan-light";
  src: url("../public/fonts/IRANYekanMobileLight.woff2") format("woff2");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "Yekan-bold";
  src: url("../public/fonts/IRANYekanMobileBold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Yekan-thin";
  src: url("../public/fonts/IRANYekanMobileThin.woff2") format("woff2");
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "Yekan-extrabold";
  src: url("../public/fonts/IRANYekanMobileExtraBold.woff2") format("woff2");
  font-weight: extrabold;
  font-style: extrabold;
}
@font-face {
  font-family: "Yekan-black";
  src: url("../public/fonts/IRANYekanMobileBlack.woff2") format("woff2");
  font-weight: black;
  font-style: black;
}
* {
  font-family: "Yekan", "Poppins";
  transition: all 50ms linear;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3739416c; 
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #41434d94; 

}